/* Packages Section */
.packages-section {
    padding: 60px 20px;
    text-align: center;
}

.packages-section h2 {
    font-size: 2.3rem;
    margin-bottom: 30px;
    color: #0A1A2F;
}

/* Card Container */
.cards-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card-body{
    background-color: #0A1A2F;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 200px;
}

/* Single Card */
.card {
    width: 300px;
    height: auto;
 
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

/* Card Hover Effect */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.22);
}

/* Card Title */
.card-title {
    padding: 15px;
    background: #0A1A2F;
    color: #F3C623;
    font-size: 1.3rem;
}

/* Image */
.card-img {
    width: 100%;
    height: 200px;
    object-fit:contain;
}

/* Footer */
.card-footer {
    padding: 20px;
    background: #0A1A2F;
}

/* Apply Button */
.apply-btn {
    display: inline-block;
    padding: 10px 16px;
    background-color: #F3C623;
    color: #0A1A2F;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1rem;
}

.apply-btn:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}
html{
    scroll-behavior: smooth;
}
